TEST_CONTENT_DIR=./_test-posts
TEST_PORT=3000
DEV_CONTENT_DIR=../published-content
DEV_PORT=3000
PROD_CONTENT_DIR=../published-content
PROD_PORT=3000
SITE_NAME=mini-pub.com
LINKEDIN_LINK=https://www.linkedin.com/in/user
GITHUB_LINK=https://github.com/User
FEATURED_TAGS=dogs
MAPPED_EXTERNAL=cats