<html>
<head>
 {% include '_bootstrap-includes.liquid' %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-10">
          <div class="p-2 ps-4 pe-4 border-top border-left border-right rounded-top shadow mt-3 mb-0 navRow">
          <a href='/' style='text-decoration:none; color:white;'>{{ siteTitle }}</a></div>
          <div class="p-4 border-bottom border-left border-right rounded-bottom bg-white shadow mt-0 mb-5">