

{% include '_header.liquid' %}
<div class="container">
  <div class="row"> 
    <div class="col-6">{{ body }}</div>
    <div class="col-6 text-end"><img src="/images/hero.jpg"/> </div>
</div>
{% if posts.length > 0 %}
<h3>Posts</h3>
  <ul>
    {% for post in posts %}
      <li>
        <a href='{{post.urlPath}}'><strong>{{ post.title }}</strong></a>, <i>{{ post.date | date: "%Y-%m-%d" }}</i>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No posts found.</p>
  {% endif %}
 {% include '_footer.liquid' %}
